01_Data/Raw/application_test.csv.zip
01_Data/Raw/application_train.csv.zip
01_Data/Raw/bureau_balance.csv.zip
01_Data/Raw/bureau.csv.zip
01_Data/Raw/credit_card_balance.csv.zip
01_Data/Raw/installments_payments.csv.zip
01_Data/Raw/POS_CASH_balance.csv.zip
01_Data/Raw/previous_application.csv.zip
01_Data/Raw/sample_submission.csv.zip
01_Data/Raw/HomeCredit_columns_description.csv
01_Data/Unzipped/application_test.csv
01_Data/Unzipped/application_train.csv
01_Data/Unzipped/bureau_balance.csv
01_Data/Unzipped/bureau.csv
01_Data/Unzipped/credit_card_balance.csv
01_Data/Unzipped/installments_payments.csv
01_Data/Unzipped/POS_CASH_balance.csv
01_Data/Unzipped/previous_application.csv
01_Data/Unzipped/sample_submission.csv